In [15]:
import pandas as pd
from dataset import Dataset

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
pd.read_csv('../data/glass.csv').head(10)

        RI     Na    Mg    Al     Si     K    Ca   Ba    Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.00     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.00     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.00     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.00     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.00     1
5  1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.0  0.26     1
6  1.51743  13.30  3.60  1.14  73.09  0.58  8.17  0.0  0.00     1
7  1.51756  13.15  3.61  1.05  73.24  0.57  8.24  0.0  0.00     1
8  1.51918  14.04  3.58  1.37  72.08  0.56  8.30  0.0  0.00     1
9  1.51755  13.00  3.60  1.36  72.99  0.57  8.40  0.0  0.11     1

In [17]:
pd.read_csv('../data/glass.csv').head().columns

Index(['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type'], dtype='object')

In [18]:
categorical_cols = []
numeric_cols = ['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe']
ignore_cols = []
ordinal_cols = {}
y_col = 'Type'

In [19]:
glass_dataset = Dataset("../data/glass.csv", y_col='Type', 
                          train_size=0.7, test_size=0.3,
                          categorical_cols=categorical_cols,
                          ignore_cols=ignore_cols,
                          numeric_cols=numeric_cols,
                          classification=True
                         )

In [20]:
glass_dataset.print_shapes()

{'X_train': (149, 9), 'X_test': (65, 9), 'y_test': (65, 1), 'y_train': (149, 1)}

In [21]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

from utils import evaluate_classifier

In [22]:
model = DecisionTreeClassifier(max_depth=5, criterion='entropy')
model = model.fit(glass_dataset.X_train, glass_dataset.y_train.ravel())
print(evaluate_classifier(model, glass_dataset.X_train, glass_dataset.y_train))
print(evaluate_classifier(model, glass_dataset.X_test, glass_dataset.y_test))

0.9060402684563759
0.6615384615384615

In [23]:
model = RandomForestClassifier(n_estimators=100, max_depth=5)
model = model.fit(glass_dataset.X_train, glass_dataset.y_train.ravel())
print(evaluate_classifier(model, glass_dataset.X_train, glass_dataset.y_train))
print(evaluate_classifier(model, glass_dataset.X_test, glass_dataset.y_test))

0.9261744966442953
0.8

In [25]:
model = GradientBoostingClassifier(max_depth=5, n_estimators=30)
model = model.fit(glass_dataset.X_train, glass_dataset.y_train.ravel())
print(evaluate_classifier(model, glass_dataset.X_train, glass_dataset.y_train))
print(evaluate_classifier(model, glass_dataset.X_test, glass_dataset.y_test))

1.0
0.7230769230769231